// @import "./styles/example.scss";

// #main {
//     color: $color; // $color was defined in example.scss, which we can use because it's imported before we hit this
// }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}

// ------------------------------------------finished reset------------------------------------------

h1 {
    font-size: 50px;
    text-align: center;
    font-family: 'VT323', monospace;
}

body {
    background-image: url(../assets/Grass_Sample.png);
    background-color: lightgreen;
    overflow: hidden;
    // cursor: none;
}

#board {
    height: 600px;
    width: 600px;
    position:relative;
    top: 50px;
    
    // background-color: rgb(110, 153, 46);
    background-image: url(../assets/transparent_background.png);
    border: 3px solid black;
    margin: auto auto;
    border-radius: 20px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.hole {
    height: 180px;
    width: 180px;
    background-color: rgb(116, 51, 5);
    border-radius: 100%;

    position: relative;
    overflow: hidden;
}

.character {
    width: 70%;
    position: absolute;
    left: 15%;
    bottom: 0%;

    animation: popin .4s ease-in-out;
// See if I can code something here with making the capybara stay for a second or two before 
//exiting
    // animation-iteration-count: 2;
    // animation-direction: alternate; 

    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}


@keyframes popin {
    0%{
        transform: translateY(100%);
    }
    100%{
        transform: translateY(0)
    }
}


.cursor {
    height: 100px;
    width: 160px;
    position: absolute;
    background-size: 100% 100%;
    background-image: url('../assets/hammer_transparent.png');
    transform: translate(-40%, -40%);
    transition: transform .1s;
    pointer-events: none;
    z-index: 2;
}

.cursor.active {
    transform: translate(-40%, -40%) rotate(-45deg)
}


#intro-farmer {
    height: 300px;
    width: 200px;
    position: fixed;
    right: 160px;
    bottom: 100px;
    z-index: 1;
}

#start-screen, #game-over-screen{
    font-family: 'VT323', monospace;
    font-size: 40px;
    word-spacing: 0.2em;
    text-align: center;
    margin: 0 auto;
    background-color: #fff;
    padding: 1em;
    // border-bottom: 2px solid #0e6dad;
    position: relative;
    top: 100px;
    width: 650px;
    // line-height: 1.2em;
    z-index: 1;
    border-radius: 40px;
}

#start-button, #game-over-button {
    height: 25px;
    width: 65px;
    
    font-size: 20px;
    font-family: 'VT323', monospace;
    background-color: yellow;

}

#barn{
    position: absolute;
    right: 100px;
    top: 50px;
}

#animals {
    position: absolute;
    top: 200px;
    height: 500px;
    width: 500px;
}

#score, #score-title, #timer{
    font-family: 'VT323', monospace;
}


#game-over-button {
    width: 100px;
}

#linkedin, #github {
    height: 50px;
    width: 50px
}